html {
  /*
	Setting a base font for simpler calculations (1 rem = 10px)
	*/
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

/*
Doing this removes excess margin and padding
*/

body {
  transition: 0.3s;
  background: linear-gradient(90deg, #9796f0, #fbc7d4);
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat; /*Prevents the gradient background from repeating*/
  overflow-x: hidden;
  min-height: 50px;
}

h1 {
  animation-name: colorChanger;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  font-size: 5rem;
  font-family: monospace;
  text-shadow: 2px 2px #ff0000;
  /*font size is 5rem = 50px*/
}
@keyframes colorChanger {
  0% {
 text-shadow: 2px 2px #FF0080 ;
  }
  50% {
 text-shadow: 2px 2px #00fa15;
  }
  100% {
 text-shadow: 2px 2px #FF0080 ;
  }
}

/*Container variable which contains everything*/
.container,
.title {
  margin-top: 2rem; /*container gets positioned down a little due to margin top*/
  text-align: center; /*all elements get centered by this property*/
}

table {
  margin: auto; /*by margin auto, the calculator also gets centered.*/
  margin-top: 2rem;
}

.screen {
  font-size: 2.5rem;
  width: 20rem; /*doesn't do anything, witdh is set to auto by default.*/
  border: 0.2rem solid transparent;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(46, 35, 35, 0.75);
  margin: 2rem; 
  transition: 0.3s;
  padding-right: 4rem;
  text-align: left;
}

.button,
.operator {
  font-size: 3rem;
  color: white;
  background: black;
  width: 9rem;
  height: 8rem; /*change width and height according to webpage contents*/
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

.keys {
  user-select: none;
}

.button:hover,
.operator:hover {
  opacity: 0.7;
}

.button:active,
.operator:active {
  transition: 0.1s;
  color: green;
  transform: translateY(0.5rem);
}

.screen:hover {
  border: 0.2rem solid black;
  transition: 0.3s;
}

#clearButton{
  margin-right: 2rem;
}
